.container-nav {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 8rem 8rem;
  align-items: center;
  justify-content: space-around;
  background-color: #264653;
}

.btn {
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
  background-color: antiquewhite;
  display: inline-block;
}

.btn:hover {
  background-color: #e9c46a;
  color: #264653;
}

/* main */
/* .container-nav {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  background-color: #264653;
}

.btn {
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
  background-color: antiquewhite;
  display: inline-block;
} */
